In [2]:
# import os
# import pandas as pd
# root_folder = 'faers_ascii21'
# dataframe = {}
# for folder in os.listdir(root_folder):
#     path = os.path.join(root_folder,folder,'ASCII')
#     for file in os.listdir(path):
#         if file.endswith('.txt'):
#             file_path = os.path.join(path,file)
#             print(file_path,file.rsplit('.',1)[0])
#             df_key = file.rsplit('.',1)[0].lower()
#             dataframe[df_key] = pd.read_csv(file_path,sep='$',encoding = 'latin1',low_memory=False)

In [3]:
import pandas as pd 

demo = pd.read_csv('demo_21q3')
drug = pd.read_csv('drug_21q3')
outc = pd.read_csv('outc_21q3')
reac = pd.read_csv('reac_21q3')
indi = pd.read_csv('indi_21q3')
ther = pd.read_csv('ther_21q3')

In [4]:
demo.shape

(504160, 11)

In [5]:
indi

          primaryid  indi_drug_seq                              indi_pt
0         100047402              1                      Crohn's disease
1         100047402              2  Product used for unknown indication
2        1001163939              1                Neuroendocrine tumour
3        1001163939              4                Neuroendocrine tumour
4         100152845              1                                 Pain
...             ...            ...                                  ...
1588674    99891527             26            Infusion related reaction
1588675    99891527             27                          Neutropenia
1588676    99891527             29                    Diabetes mellitus
1588677    99891527             30                    Fluid replacement
1588678    99891527             31                Infection prophylaxis

[1588679 rows x 3 columns]

In [6]:
indi['indi_drug_seq'].nunique()

512

In [7]:
drug['drug_seq'].nunique()

542

In [8]:
drug[drug['drug_seq'] == 538]

         primaryid  drug_seq role_cod                        prod_ai dechal
543808   190797873       538        C                CHOLECALCIFEROL      U
2260431  992001212       538       SS  SULFAMETHOXAZOLE\TRIMETHOPRIM      U

In [9]:
drug['prod_ai'].nunique()

6159

In [10]:
reac#['primaryid'].nunique()

          primaryid                                        pt
0         100047402                                Chest pain
1         100047402                              Palpitations
2        1001163939                                   Anxiety
3        1001163939                  Blood pressure increased
4        1001163939                          Gait disturbance
...             ...                                       ...
1544369   997584332                                   Vertigo
1544370   997584332                          Weight decreased
1544371   997584332                          Weight increased
1544372   997584332  Wrong technique in product usage process
1544373    99891527                                   Syncope

[1544374 rows x 2 columns]

In [11]:
outc

         primaryid outc_cod
0        100047402       OT
1       1001163939       OT
2       1002130534       HO
3       1002130534       OT
4       1002788611       OT
...            ...      ...
420724    99539633       OT
420725    99539633       HO
420726   997584332       OT
420727   997584332       HO
420728    99891527       HO

[420729 rows x 2 columns]

In [12]:
ther

,primaryid,dsg_drug_seq,start_dt,end_dt,start_dt_yrs,start_dt_mon,start_dt_date,end_dt_yrs,end_dt_mon,end_dt_date
0,100047402,1,2012.0,2014.0,2012.0,NaN,NaN,2014.0,NaN,NaN
1,1001163939,1,20120501.0,20120501.0,2012.0,5.0,1.0,2012.0,5.0,1.0
2,1001163939,4,20120508.0,NaN,2012.0,5.0,8.0,NaN,NaN,NaN
3,1001163939,6,20131217.0,NaN,2013.0,12.0,17.0,NaN,NaN,NaN
4,1002130534,1,20131219.0,20131219.0,2013.0,12.0,19.0,2013.0,12.0,19.0
...,...,...,...,...,...,...,...,...,...,...
848656,99891527,28,20140217.0,20140217.0,2014.0,2.0,17.0,2014.0,2.0,17.0
848657,99891527,29,20140305.0,20140314.0,2014.0,3.0,5.0,2014.0,3.0,14.0
848658,99891527,30,20140305.0,20140308.0,2014.0,3.0,5.0,2014.0,3.0,8.0
848659,99891527,31,20131016.0,NaN,2013.0,10.0,16.0,NaN,NaN,NaN
848660,99891527,32,20140305.0,20140309.0,2014.0,3.0,5.0,2014.0,3.0,9.0

In [13]:
indi_sorted=indi.sort_values(by=['primaryid','indi_drug_seq'])

In [14]:
drug_sorted=drug.sort_values(by=['primaryid','drug_seq'])

In [15]:
drug_indi = drug_sorted.merge(indi_sorted,left_on=['primaryid','drug_seq'],right_on=['primaryid', 'indi_drug_seq'])

In [16]:
indi_sorted.shape,drug_sorted.shape

((1588679, 3), (2260570, 5))

In [17]:
drug_indi[~drug_indi.isnull().any(axis=1)]

,primaryid,drug_seq,role_cod,prod_ai,dechal,indi_drug_seq,indi_pt
0,36362202,1,PS,OXCARBAZEPINE,D,1,Foetal exposure during pregnancy
2,41505154,2,SS,TENOFOVIR,Y,2,HIV infection
6,58189452,1,PS,CYCLOSPORINE,U,1,Renal transplant
7,58189452,2,SS,CYCLOSPORINE,U,2,Immunosuppressant drug therapy
8,58189452,3,SS,MYCOPHENOLATE MOFETIL,Y,3,Renal transplant
...,...,...,...,...,...,...,...
1588673,9474120138,1,PS,OCTREOTIDE ACETATE,Y,1,Carcinoid tumour
1588674,9474120138,8,SS,OCTREOTIDE ACETATE,D,8,Carcinoid tumour
1588675,9474120138,11,SS,METOPROLOL,Y,11,Product used for unknown indication
1588676,9474120138,12,SS,METOPROLOL,Y,12,Dyspnoea
1588677,9474120138,13,SS,MORPHINE,U,13,Product used for unknown indication

In [18]:
drug_indi_ther = drug_indi.merge(ther,left_on=['primaryid','drug_seq'],right_on=['primaryid','dsg_drug_seq'])

In [19]:
drug_indi_ther_outc = drug_indi_ther.merge(outc,left_on=['primaryid'],right_on=['primaryid'])
# drug_indi_ther.merge(outc,left_on=['primaryid'],right_on=['primaryid'])

In [20]:
drug_indi_ther_outc_reac = drug_indi_ther_outc.merge(reac,left_on=['primaryid'],right_on=['primaryid'])

In [21]:
drug_indi_ther_outc_reac

,primaryid,drug_seq,role_cod,prod_ai,dechal,indi_drug_seq,indi_pt,dsg_drug_seq,start_dt,end_dt,start_dt_yrs,start_dt_mon,start_dt_date,end_dt_yrs,end_dt_mon,end_dt_date,outc_cod,pt
0,41505154,1,PS,EFAVIRENZ,NaN,1,HIV infection,1,200105.0,NaN,2001.0,5.0,NaN,NaN,NaN,NaN,OT,Pain in extremity
1,41505154,1,PS,EFAVIRENZ,NaN,1,HIV infection,1,200105.0,NaN,2001.0,5.0,NaN,NaN,NaN,NaN,OT,Renal tubular dysfunction
2,41505154,2,SS,TENOFOVIR,Y,2,HIV infection,2,200105.0,2002.0,2001.0,5.0,NaN,2002.0,NaN,NaN,OT,Pain in extremity
3,41505154,2,SS,TENOFOVIR,Y,2,HIV infection,2,200105.0,2002.0,2001.0,5.0,NaN,2002.0,NaN,NaN,OT,Renal tubular dysfunction
4,41505154,3,SS,LOPINAVIR\RITONAVIR,NaN,3,HIV infection,3,200105.0,NaN,2001.0,5.0,NaN,NaN,NaN,NaN,OT,Pain in extremity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912325,9474120138,11,SS,METOPROLOL,Y,11,Product used for unknown indication,11,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Tremor
2912326,9474120138,11,SS,METOPROLOL,Y,11,Product used for unknown indication,11,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Urine odour abnormal
2912327,9474120138,11,SS,METOPROLOL,Y,11,Product used for unknown indication,11,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Vision blurred
2912328,9474120138,11,SS,METOPROLOL,Y,11,Product used for unknown indication,11,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Vomiting
2912329,9474120138,11,SS,METOPROLOL,Y,11,Product used for unknown indication,11,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Weight decreased

In [22]:
freq = drug_indi_ther_outc_reac['prod_ai'].value_counts()

In [23]:
# creating the prod_ai frequency

freq=drug_indi_ther_outc_reac['prod_ai'].value_counts(0)
drug_indi_ther_outc_reac['freq_prod_ai'] = drug_indi_ther_outc_reac['prod_ai'].map(freq)

In [24]:
drug_indi_ther_outc_reac['outc_cod'].value_counts()

outc_cod
OT    1537216
HO     867367
DE     238453
LT     156276
DS      99782
CA       9536
RI       3700
Name: count, dtype: int64

In [25]:
# ✅ Option 2: Ordinal severity score (recommended if you want ranking)
severity_map = {
    'OT': 1,
    'HO': 2,
    'RI': 3,
    'DS': 4,
    'LT': 5,
    'DE': 6,
    'CA': 6
}

drug_indi_ther_outc_reac['severity_score'] = drug_indi_ther_outc_reac['outc_cod'].map(severity_map)

In [30]:
drug_severity = drug_indi_ther_outc_reac.groupby('prod_ai')['severity_score'].mean()
drug_indi_ther_outc_reac['drug_severity_mean'] = drug_indi_ther_outc_reac['prod_ai'].map(drug_severity)

In [34]:
num_drug_per_person = drug_indi_ther_outc_reac.groupby('primaryid')['prod_ai'].nunique()
drug_indi_ther_outc_reac['num_drug'] = drug_indi_ther_outc_reac['primaryid'].map(num_drug_per_person)

In [90]:
drug_indi_ther_outc_reac.columns

Index(['primaryid', 'drug_seq', 'role_cod', 'prod_ai', 'dechal',
       'start_dt_yrs', 'start_dt_mon', 'start_dt_date', 'end_dt_yrs',
       'end_dt_mon', 'end_dt_date', 'outc_cod', 'freq_prod_ai',
       'severity_score', 'drug_severity_mean', 'num_drug',
       'combined_indications'],
      dtype='object')

In [95]:
drug_indi_ther_outc_reac.isnull().sum()/drug_indi_ther_outc_reac.shape[0]

primaryid               0.000000
drug_seq                0.000000
role_cod                0.000000
prod_ai                 0.018157
dechal                  0.373213
start_dt_yrs            0.041907
start_dt_mon            0.165733
start_dt_date           0.360011
end_dt_yrs              0.470808
end_dt_mon              0.523746
end_dt_date             0.671538
outc_cod                0.000000
freq_prod_ai            0.018157
severity_score          0.000000
drug_severity_mean      0.018157
num_drug                0.000000
combined_indications    0.000000
dtype: float64