In [1]:
import pandas as pd
import numpy as np

In [2]:
agg_df = pd.read_csv('final_data.csv')

In [3]:
agg_df

,Unnamed: 0,primaryid,num_drug,severity_score,drug_severity_mean,freq_prod_ai,treatment_duration_days,unique_drugs,unique_reactions,unique_outcomes,role_cod,dechal,target
0,0,41505154,4,1.000000,2.223378,4698.0,-1.0,4,2,1,2,3,0
1,1,58189452,4,1.500000,2.282729,371382.0,0.0,4,11,2,2,2,0
2,2,62168708,36,1.000000,2.191014,642616.0,NaN,36,4,1,2,2,0
3,3,64339465,1,3.500000,2.424053,33260.0,0.0,1,2,2,2,0,1
4,4,66952357,6,3.000000,2.308337,1312920.0,0.0,6,10,3,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213257,213257,1966917510,1,2.000000,2.358974,6006.0,NaN,1,2,1,2,3,0
213258,213258,1967419210,1,2.000000,1.937022,271840.0,0.0,1,16,1,2,4,0
213259,213259,1968277312,5,4.333333,2.212940,58998.0,0.0,5,1,3,2,4,1
213260,213260,1971800613,14,2.000000,2.202238,398907.0,0.0,14,3,1,2,2,0
213261,213261,9474120138,2,1.500000,1.854558,15342296.0,0.0,2,97,2,2,3,0

In [ ]:
from sklearn.model_selection import train_test_split

features = [
    'num_drug',
    'unique_drugs',
    'unique_reactions',
    'unique_outcomes',
    'freq_prod_ai',
    'treatment_duration_days',
    'drug_severity_mean',
    'role_cod',
    'dechal'
]

x = agg_df[features]
y = agg_df['target']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [ ]:
from xgboost import XGBClassifier

xgb_model = XGBClassifier(
    n_estimators=300,
    max_depth=6,
    learning_rate=0.05,
    subsample=0.8,
    colsample_bytree=0.8,
    objective='binary:logistic',
    eval_metric='logloss',
    random_state=42
)

xgb_model.fit(X_train, y_train)