In [2]:
import pandas as pd
demo25 = pd.read_csv(r"C:\Users\ALOK\Documents\veersa_hackathon\faers_ascii_2025q3\ASCII\DEMO25Q3.txt", sep="$", encoding="latin1",low_memory=False)
drug25 = pd.read_csv(r"C:\Users\ALOK\Documents\veersa_hackathon\faers_ascii_2025q3\ASCII\DRUG25Q3.txt", sep="$", encoding="latin1",low_memory=False)
reac25 = pd.read_csv(r"C:\Users\ALOK\Documents\veersa_hackathon\faers_ascii_2025q3\ASCII\REAC25Q3.txt", sep="$", encoding="latin1",low_memory=False)
outc25 = pd.read_csv(r"C:\Users\ALOK\Documents\veersa_hackathon\faers_ascii_2025q3\ASCII\OUTC25Q3.txt", sep="$", encoding="latin1",low_memory=False)

In [80]:
import os
import pandas as pd
root_folder = 'faers_ascii21'
dataframe = {}
for folder in os.listdir(root_folder):
    path = os.path.join(root_folder,folder,'ASCII')
    for file in os.listdir(path):
        if file.endswith('.txt'):
            file_path = os.path.join(path,file)
            print(file_path,file.rsplit('.',1)[0])
            df_key = file.rsplit('.',1)[0].lower()
            dataframe[df_key] = pd.read_csv(file_path,sep='$',encoding = 'latin1',low_memory=False)

faers_ascii21\faers_ascii_2021Q1\ASCII\DEMO21Q1.txt DEMO21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\DRUG21Q1.txt DRUG21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\INDI21Q1.txt INDI21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\OUTC21Q1.txt OUTC21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\REAC21Q1.txt REAC21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\RPSR21Q1.txt RPSR21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\THER21Q1.txt THER21Q1
faers_ascii21\faers_ascii_2021Q2\ASCII\DEMO21Q2.txt DEMO21Q2
faers_ascii21\faers_ascii_2021Q2\ASCII\DRUG21Q2.txt DRUG21Q2
faers_ascii21\faers_ascii_2021Q2\ASCII\INDI21Q2.txt INDI21Q2
faers_ascii21\faers_ascii_2021Q2\ASCII\OUTC21Q2.txt OUTC21Q2
faers_ascii21\faers_ascii_2021Q2\ASCII\REAC21Q2.txt REAC21Q2
faers_ascii21\faers_ascii_2021Q2\ASCII\RPSR21Q2.txt RPSR21Q2
faers_ascii21\faers_ascii_2021Q2\ASCII\THER21Q2.txt THER21Q2
faers_ascii21\faers_ascii_2021Q3\ASCII\DEMO21Q3.txt DEMO21Q3
faers_ascii21\faers_ascii_2021Q3\ASCII\DRUG21Q3.txt DRUG21Q3
faers_ascii21\faers_ascii_2021Q3\ASCII\INDI21Q3.txt INDI21Q3
faers_ascii21\faers_ascii_2021Q3\ASCII\OUTC21Q3.txt OUTC21Q3
faers_ascii21\faers_ascii_2021Q3\ASCII\REAC21Q3.txt REAC21Q3
faers_ascii21\faers_ascii_2021Q3\ASCII\RPSR21Q3.txt RPSR21Q3
faers_ascii21\faers_ascii_2021Q3\ASCII\THER21Q3.txt THER21Q3
faers_ascii21\faers_ascii_2021Q4\ASCII\DEMO21Q4.txt DEMO21Q4
faers_ascii21\faers_ascii_2021Q4\ASCII\DRUG21Q4.txt DRUG21Q4
faers_ascii21\faers_ascii_2021Q4\ASCII\INDI21Q4.txt INDI21Q4
faers_ascii21\faers_ascii_2021Q4\ASCII\OUTC21Q4.txt OUTC21Q4
faers_ascii21\faers_ascii_2021Q4\ASCII\REAC21Q4.txt REAC21Q4
faers_ascii21\faers_ascii_2021Q4\ASCII\RPSR21Q4.txt RPSR21Q4
faers_ascii21\faers_ascii_2021Q4\ASCII\THER21Q4.txt THER21Q4

In [81]:
for key in dataframe.keys():
    print(key)

demo21q1
drug21q1
indi21q1
outc21q1
reac21q1
rpsr21q1
ther21q1
demo21q2
drug21q2
indi21q2
outc21q2
reac21q2
rpsr21q2
ther21q2
demo21q3
drug21q3
indi21q3
outc21q3
reac21q3
rpsr21q3
ther21q3
demo21q4
drug21q4
indi21q4
outc21q4
reac21q4
rpsr21q4
ther21q4

In [4]:
# DEMO.PRIMARYID = REAC.PRIMARYID
# DEMO.PRIMARYID = OUTC.PRIMARYID
# DEMO.PRIMARYID = DRUG.PRIMARYID
# DRUG.PRIMARYID = THER.PRIMARYID AND DRUG.DRUG_SEQ = THER.DSG_DRUG_SEQ

In [5]:
dataframe['demo21q3'].isnull().sum()/dataframe['demo21q3'].shape[0]

primaryid           0.000000
caseid              0.000000
caseversion         0.000000
i_f_code            0.000000
event_dt            0.447606
mfr_dt              0.040727
init_fda_dt         0.000000
fda_dt              0.000000
rept_cod            0.000000
auth_num            0.967149
mfr_num             0.040118
mfr_sndr            0.000000
lit_ref             0.957410
age                 0.402588
age_cod             0.402557
age_grp             0.810181
sex                 0.130292
e_sub               0.000000
wt                  0.846077
wt_cod              0.846077
rept_dt             0.000214
to_mfr              0.959882
occp_cod            0.017449
reporter_country    0.000008
occr_country        0.000672
dtype: float64

In [6]:
                                # occp_cod
    # CODE MEANING_TEXT 
    # MD Physician 
    # PH Pharmacist 
    # OT Other health-professional 
    # LW Lawyer 
    # CN Consumer 

# columns form demo files:
        # ['primaryid', 'caseid','event_dt','age','age_cod','occp_cod',
        # 'age_grp','sex','wt','wt_cod','reporter_country', 'occr_country']

In [120]:
demo=dataframe['demo21q3'][['primaryid','i_f_code','event_dt','age','age_cod','age_grp','occp_cod','sex']]

In [8]:
import numpy as np
demo.isnull().sum()/demo.shape[0]

primaryid    0.000000
caseid       0.000000
i_f_code     0.000000
event_dt     0.447606
age          0.402588
age_cod      0.402557
occp_cod     0.017449
sex          0.130292
dtype: float64

# drug table

In [9]:
# Correct action summary

# ✅ Keep: prod_ai, dechal, rechal

# ❌ Drop: cum_dose_chr

# ✅ Add missing indicators for dechal and rechal

            # dechal = 0.384278 (~38.4% missing)
# → Moderately missing.
# Still useful, especially with a missingness flag. When present, it’s informative.

                # rechal = 0.866147 (~86.6% missing)
# → Very sparse.
# Rare but extremely strong signal when present. Keep it as:

    # binary feature (rechal_yes)
    # plus a rechal_missing flag


# drug=dataframe['drug21q3'][['primaryid', 'caseid', 'drug_seq', 'role_cod',
#                        'prod_ai','dechal', 'rechal']]

In [10]:
dataframe['drug21q3'].shape[0]

2260570

In [82]:
drug=dataframe['drug21q3'][['primaryid', 'drug_seq', 'role_cod','prod_ai','dechal']]

In [83]:
#drug[(drug['dose_amt'].isnull()) & (drug['dose_unit'].isnull())]
# 1388837

In [84]:
dataframe['drug21q3'].isnull().sum()/dataframe['drug21q3'].shape[0]

primaryid        0.000000
caseid           0.000000
drug_seq         0.000000
role_cod         0.000000
drugname         0.000047
prod_ai          0.015716
val_vbm          0.000000
route            0.341208
dose_vbm         0.391716
cum_dose_chr     0.976819
cum_dose_unit    0.977368
dechal           0.384278
rechal           0.866147
lot_num          0.760617
exp_dt           0.997908
nda_num          0.578532
dose_amt         0.614375
dose_unit        0.614388
dose_form        0.503385
dose_freq        0.765489
dtype: float64

# outcome table

In [52]:
outc=dataframe['outc21q3'][['primaryid','outc_cod']]

In [53]:
outc

         primaryid outc_cod
0        100047402       OT
1       1001163939       OT
2       1002130534       HO
3       1002130534       OT
4       1002788611       OT
...            ...      ...
420724    99539633       OT
420725    99539633       HO
420726   997584332       OT
420727   997584332       HO
420728    99891527       HO

[420729 rows x 2 columns]

In [35]:
outc['outc_cod'].value_counts()

outc_cod
OT    274450
HO     88671
DE     38166
LT     10530
DS      6746
CA      1144
RI      1022
Name: count, dtype: int64

In [21]:
outc.shape,outc.isnull().sum()

((420729, 3),
 primaryid    0
 caseid       0
 outc_cod     0
 dtype: int64)

# reaction table

In [54]:
reac=dataframe['reac21q3'][['primaryid','pt']]

In [55]:
reac['pt'].value_counts()

pt
Drug ineffective             27853
Off label use                24323
Fatigue                      21239
Prostate cancer              19744
Breast cancer                19725
                             ...
Melorheostosis                   1
Human bocavirus infection        1
Phlebolith                       1
Adrenergic syndrome              1
Conjunctival adhesion            1
Name: count, Length: 12378, dtype: int64

In [22]:
reac.shape,reac.isnull().sum()

((1544374, 3),
 primaryid    0
 caseid       0
 pt           0
 dtype: int64)

# therapy table

In [56]:
ther=dataframe['ther21q3'][['primaryid', 'dsg_drug_seq', 'start_dt', 'end_dt']]
# dataframe['ther21q3'][['primaryid', 'caseid', 'dsg_drug_seq', 'start_dt', 'end_dt']].isnull().sum()/dataframe['ther21q3'].shape[0]

In [57]:
ther[(ther['start_dt'].isna()) & ther['end_dt'].isna()]

        primaryid  dsg_drug_seq  start_dt  end_dt
306666  194867351             1       NaN     NaN
307770  194876671             1       NaN     NaN
322047  194956151             1       NaN     NaN
322262  194957641             1       NaN     NaN
322263  194957651             1       NaN     NaN
...           ...           ...       ...     ...
845146  199050251             1       NaN     NaN
845147  199050271             1       NaN     NaN
845233  199051141             1       NaN     NaN
845239  199051331             1       NaN     NaN
845244  199051721             1       NaN     NaN

[809 rows x 4 columns]

In [24]:
ther.shape,ther.isnull().sum()

((848661, 5),
 primaryid            0
 caseid               0
 dsg_drug_seq         0
 start_dt         24889
 end_dt          377651
 dtype: int64)

# indication table

In [60]:
indi=dataframe['indi21q3'][['primaryid', 'indi_drug_seq', 'indi_pt']]

In [61]:
indi

          primaryid  indi_drug_seq                              indi_pt
0         100047402              1                      Crohn's disease
1         100047402              2  Product used for unknown indication
2        1001163939              1                Neuroendocrine tumour
3        1001163939              4                Neuroendocrine tumour
4         100152845              1                                 Pain
...             ...            ...                                  ...
1588674    99891527             26            Infusion related reaction
1588675    99891527             27                          Neutropenia
1588676    99891527             29                    Diabetes mellitus
1588677    99891527             30                    Fluid replacement
1588678    99891527             31                Infection prophylaxis

[1588679 rows x 3 columns]

In [25]:
indi.shape,indi.isnull().sum()

((1588679, 4),
 primaryid        0
 caseid           0
 indi_drug_seq    0
 indi_pt          0
 dtype: int64)

# forming the joins

In [121]:
df = demo.copy()

In [122]:
df.columns

Index(['primaryid', 'i_f_code', 'event_dt', 'age', 'age_cod', 'age_grp',
       'occp_cod', 'sex'],
      dtype='object')

In [123]:
df

         primaryid i_f_code    event_dt   age age_cod age_grp occp_cod sex
0        100047402        F  20140210.0  36.0      YR       A       HP   M
1       1001163939        F      2015.0  49.0      YR     NaN       CN   F
2        100152845        F         NaN  53.0      YR     NaN       CN   M
3       1002130534        F  20210415.0  43.0      YR     NaN       MD   M
4       1002788611        F  20130810.0  60.0      YR     NaN       MD   F
...            ...      ...         ...   ...     ...     ...      ...  ..
504155    99432154        F         NaN  82.0      YR     NaN       HP   M
504156   994329778        F  20130506.0  79.0      YR     NaN       CN   M
504157    99539633        F  20130204.0  59.0      YR       A       MD   M
504158   997584332        F      2013.0  83.0      YR     NaN       MD   F
504159    99891527        F  20140305.0  83.0      YR     NaN       MD   F

[504160 rows x 8 columns]

In [124]:
df = df.merge(drug,on='primaryid',how='left') # demo and drug merged: now df

In [125]:
ther.columns

Index(['primaryid', 'dsg_drug_seq', 'start_dt', 'end_dt'], dtype='object')

In [126]:
df = df.merge(ther,left_on=['primaryid','drug_seq'],right_on=['primaryid','dsg_drug_seq'],how='left') # df and therapy

In [127]:
indi.columns

Index(['primaryid', 'indi_drug_seq', 'indi_pt'], dtype='object')

In [128]:
df = df.merge(indi,left_on=['primaryid','drug_seq'],right_on = ['primaryid', 'indi_drug_seq'],how='left') # df and indication

In [129]:
df = df.merge(reac,on='primaryid',how='left') # df and reaction

In [130]:
df = df.merge(outc, on="primaryid", how="left") # df and outcome

In [131]:
demo.shape

(504160, 8)

In [ ]:
# event_dt         10967696
# age               6145447
# age_cod           6145148
# occp_cod           339760
# sex               2896728
# prod_ai            316844
# dechal            7328586
# dsg_drug_seq     15917253
# start_dt         16134848
# end_dt           19331352
# indi_drug_seq     8821576
# indi_pt           8821576
# outc_cod          1126826

### removing those rows which have 'outc_cod' as NaN value

In [133]:
df = df[df['outc_cod'].notna()]

In [ ]:
# primaryid               0          0.00
# i_f_code                0          0.00
# event_dt         10480996         49.87
# age               5609082         26.69
# age_cod           5608785         26.69
# occp_cod           322591          1.54
# sex               2754880         13.11
# drug_seq                0          0.00
# role_cod                0          0.00
# prod_ai            294410          1.40
# dechal            6724681         32.00
# dsg_drug_seq     15170666         72.19
# start_dt         15377779         73.18
# end_dt           18294944         87.06
# indi_drug_seq     8406112         40.00
# indi_pt           8406112         40.00
# pt                      0          0.00
# outc_cod                0          0.00

In [143]:
df = df.merge(
    demo[['primaryid', 'age_cod']],
    on='primaryid',
    how='left'
)

In [154]:
(df[['age','age_cod']].isnull().sum()/21014929)*100

age        26.690940
age_cod    26.689526
dtype: float64

In [160]:
# correcting the age ----------> in yrs

factor = {'YR': 1,'MON': 1/12,'WK': 1/52,'DY': 1/365,'HR': 1/8760,'DEC': 10}

df['age_yrs'] = df['age']*df['age_cod'].map(factor)

In [163]:
df['age_yrs'].describe()

count    1.540585e+07
mean     5.397716e+01
std      2.002276e+01
min     -2.200000e+01
25%      4.300000e+01
50%      5.500000e+01
75%      6.600000e+01
max      2.020000e+03
Name: age_yrs, dtype: float64

In [187]:
df.columns

Index(['primaryid', 'i_f_code', 'event_dt', 'age', 'age_cod', 'age_grp',
       'occp_cod', 'sex', 'drug_seq', 'role_cod', 'prod_ai', 'dechal',
       'dsg_drug_seq', 'start_dt', 'end_dt', 'indi_drug_seq', 'indi_pt', 'pt',
       'outc_cod', 'age_yrs'],
      dtype='object')

In [194]:
df[df['age_yrs']>119][['age','age_cod','age_grp']]

             age age_cod age_grp
11514460   947.0      YR     NaN
11514461   947.0      YR     NaN
11514462   947.0      YR     NaN
11514463   947.0      YR     NaN
11514464   947.0      YR     NaN
...          ...     ...     ...
11516216   947.0      YR     NaN
11516217   947.0      YR     NaN
11516218   947.0      YR     NaN
11516219   947.0      YR     NaN
18355590  2020.0      YR     NaN

[1761 rows x 3 columns]

In [189]:
df[df['age_yrs']>119][['age','age_cod','age_grp']].isnull().sum() # now removing these rows

age           0
age_cod       0
age_grp    1761
dtype: int64

In [201]:
df = df[~(df['age_yrs']>119)]

In [209]:
df[(df['age_yrs']<1)][['prod_ai']].value_counts()

prod_ai
ACETAMINOPHEN                                                                                       3618
DULOXETINE HYDROCHLORIDE                                                                            2157
ACETAMINOPHEN\CODEINE PHOSPHATE                                                                     1460
PREDNISOLONE                                                                                        1220
METHYLPHENIDATE HYDROCHLORIDE                                                                       1117
                                                                                                    ...
BECLOMETHASONE                                                                                         1
AMPHETAMINE ASPARTATE\AMPHETAMINE SULFATE\DEXTROAMPHETAMINE SACCHARATE\DEXTROAMPHETAMINE SULFATE       1
AMOXICILLIN\CLAVULANATE POTASSIUM                                                                      1
ABACAVIR SULFATE\DOLUTEGRAVIR SODIUM\LAMIVUDINE                                                        1
VEDOLIZUMAB                                                                                            1
Name: count, Length: 767, dtype: int64

In [213]:
df

,primaryid,i_f_code,event_dt,age,age_cod,age_grp,occp_cod,sex,drug_seq,role_cod,prod_ai,dechal,dsg_drug_seq,start_dt,end_dt,indi_drug_seq,indi_pt,pt,outc_cod,age_yrs
0,100047402,F,20140210.0,36.0,YR,A,HP,M,1,PS,INFLIXIMAB,NaN,1.0,2012.0,2014.0,1.0,Crohn's disease,Chest pain,OT,36.0
1,100047402,F,20140210.0,36.0,YR,A,HP,M,1,PS,INFLIXIMAB,NaN,1.0,2012.0,2014.0,1.0,Crohn's disease,Palpitations,OT,36.0
2,100047402,F,20140210.0,36.0,YR,A,HP,M,2,C,AZATHIOPRINE,D,NaN,NaN,NaN,2.0,Product used for unknown indication,Chest pain,OT,36.0
3,100047402,F,20140210.0,36.0,YR,A,HP,M,2,C,AZATHIOPRINE,D,NaN,NaN,NaN,2.0,Product used for unknown indication,Palpitations,OT,36.0
4,1001163939,F,2015.0,49.0,YR,NaN,CN,F,1,PS,OCTREOTIDE ACETATE,D,1.0,20120501.0,20120501.0,1.0,Neuroendocrine tumour,Anxiety,OT,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21014924,99891527,F,20140305.0,83.0,YR,NaN,MD,F,28,C,FILGRASTIM,NaN,28.0,20140217.0,20140217.0,NaN,NaN,Syncope,HO,83.0
21014925,99891527,F,20140305.0,83.0,YR,NaN,MD,F,29,C,INSULIN HUMAN,NaN,29.0,20140305.0,20140314.0,29.0,Diabetes mellitus,Syncope,HO,83.0
21014926,99891527,F,20140305.0,83.0,YR,NaN,MD,F,30,C,CALCIUM CHLORIDE\POTASSIUM CHLORIDE\SODIUM ACE...,NaN,30.0,20140305.0,20140308.0,30.0,Fluid replacement,Syncope,HO,83.0
21014927,99891527,F,20140305.0,83.0,YR,NaN,MD,F,31,C,SULFAMETHOXAZOLE\TRIMETHOPRIM,NaN,31.0,20131016.0,NaN,31.0,Infection prophylaxis,Syncope,HO,83.0
21014928,99891527,F,20140305.0,83.0,YR,NaN,MD,F,32,C,LENOGRASTIM,NaN,32.0,20140305.0,20140309.0,NaN,NaN,Syncope,HO,83.0

In [219]:
import pandas as pd 
import numpy as np 

def split_date(x):
    if pd.isna(x):
        return pd.Series([np.nan, np.nan, np.nan])
    
    x = str(x).split('.')[0]
    if len(x) == 8:
        return pd.Series([int(x[:4]),int(x[4:6]),int(x[6:])])
    elif len(x) == 6:
        return pd.Series([int(x[:4]),int(x[4:6]),np.nan])
    elif len(x) == 4:
        return pd.Series([int(x[:4]), np.nan, np.nan])
    else:
        return pd.Series([np.nan, np.nan, np.nan])

In [222]:
s=df['event_dt'].astype(str).str.split('.', expand=True)[0]

In [223]:
df['event_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')

C:\Users\ALOK\AppData\Local\Temp\ipykernel_2288\2819600839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['event_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')

In [225]:
df.to_csv('2021q3.csv',index=False)

In [237]:
s=demo['event_dt'].astype(str).str.split('.', expand=True)[0]
demo['event_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')
demo['event_dt_mon'] = pd.to_numeric(s.str[4:6].where(s.str.len()>=6),errors='coerce')
demo['event_dt_date'] = pd.to_numeric(s.str[6:8].where(s.str.len()==8),errors='coerce')

C:\Users\ALOK\AppData\Local\Temp\ipykernel_2288\124669247.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo['event_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')
C:\Users\ALOK\AppData\Local\Temp\ipykernel_2288\124669247.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo['event_dt_mon'] = pd.to_numeric(s.str[4:6].where(s.str.len()>=6),errors='coerce')
C:\Users\ALOK\AppData\Local\Temp\ipykernel_2288\124669247.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo['event_dt_date'] = pd.to_numeric(s.str[6:8].where(s.str.len()==8),errors='coerce')

In [238]:
demo

,primaryid,i_f_code,event_dt,age,age_cod,age_grp,occp_cod,sex,event_dt_yrs,event_dt_mon,event_dt_date
0,100047402,F,20140210.0,36.0,YR,A,HP,M,2014.0,2.0,10.0
1,1001163939,F,2015.0,49.0,YR,NaN,CN,F,2015.0,NaN,NaN
2,100152845,F,NaN,53.0,YR,NaN,CN,M,NaN,NaN,NaN
3,1002130534,F,20210415.0,43.0,YR,NaN,MD,M,2021.0,4.0,15.0
4,1002788611,F,20130810.0,60.0,YR,NaN,MD,F,2013.0,8.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...
504155,99432154,F,NaN,82.0,YR,NaN,HP,M,NaN,NaN,NaN
504156,994329778,F,20130506.0,79.0,YR,NaN,CN,M,2013.0,5.0,6.0
504157,99539633,F,20130204.0,59.0,YR,A,MD,M,2013.0,2.0,4.0
504158,997584332,F,2013.0,83.0,YR,NaN,MD,F,2013.0,NaN,NaN
504159,99891527,F,20140305.0,83.0,YR,NaN,MD,F,2014.0,3.0,5.0

In [239]:
s=ther['start_dt'].astype(str).str.split('.', expand=True)[0]
ther['start_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')
ther['start_dt_mon'] = pd.to_numeric(s.str[4:6].where(s.str.len()>=6),errors='coerce')
ther['start_dt_date'] = pd.to_numeric(s.str[6:8].where(s.str.len()==8),errors='coerce')

In [240]:
s=ther['end_dt'].astype(str).str.split('.', expand=True)[0]
ther['end_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')
ther['end_dt_mon'] = pd.to_numeric(s.str[4:6].where(s.str.len()>=6),errors='coerce')
ther['end_dt_date'] = pd.to_numeric(s.str[6:8].where(s.str.len()==8),errors='coerce')

In [234]:
demo.to_csv('demo_21q3',index=False)
drug.to_csv('drug_21q3',index=False)
outc.to_csv('outc_21q3',index=False)
reac.to_csv('reac_21q3',index=False)
ther.to_csv('ther_21q3',index=False)
indi.to_csv('indi_21q3',index=False)

In [242]:
demo.to_csv('demo_21q3',index=False)
ther.to_csv('ther_21q3',index=False)