In [2]:
import os
import pandas as pd
root_folder = 'faers_ascii21'
dataframe = {}
for folder in os.listdir(root_folder):
    path = os.path.join(root_folder,folder,'ASCII')
    for file in os.listdir(path):
        if file.endswith('.txt'):
            file_path = os.path.join(path,file)
            print(file_path,file.rsplit('.',1)[0])
            df_key = file.rsplit('.',1)[0].lower()
            dataframe[df_key] = pd.read_csv(file_path,sep='$',encoding = 'latin1',low_memory=False)

faers_ascii21\faers_ascii_2021Q1\ASCII\DEMO21Q1.txt DEMO21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\DRUG21Q1.txt DRUG21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\INDI21Q1.txt INDI21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\OUTC21Q1.txt OUTC21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\REAC21Q1.txt REAC21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\RPSR21Q1.txt RPSR21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\THER21Q1.txt THER21Q1

In [4]:
import pandas as pd 

demo = pd.read_csv('demo_21q1')
drug = pd.read_csv('drug_21q1')
outc = pd.read_csv('outc_21q1')
reac = pd.read_csv('reac_21q1')
indi = pd.read_csv('indi_21q1')
ther = pd.read_csv('ther_21q1')

In [5]:
demo.shape

(463741, 11)

In [6]:
indi

         primaryid  indi_drug_seq                indi_pt
0        100066672              1   Rheumatoid arthritis
1        100152844              1                   Pain
2        100152844              2  Phantom limb syndrome
3        100159156              1           Osteoporosis
4        100159156              4           Osteoporosis
...            ...            ...                    ...
1603034   99965023              1    Lung adenocarcinoma
1603035   99965023              2    Lung adenocarcinoma
1603036   99965023              3    Lung adenocarcinoma
1603037   99965023              4    Lung adenocarcinoma
1603038  999913119              1              Psoriasis

[1603039 rows x 3 columns]

In [7]:
indi['indi_drug_seq'].nunique()

467

In [8]:
drug['drug_seq'].nunique()

544

In [9]:
drug[drug['drug_seq'] == 538]

        primaryid  drug_seq role_cod        prod_ai dechal
94223  1543227319       538        C  ASCORBIC ACID    NaN

In [10]:
drug['prod_ai'].nunique()

5991

In [11]:
reac#['primaryid'].nunique()

         primaryid                               pt
0        100066672                    Bone disorder
1        100066672                         Headache
2        100066672                  Nasopharyngitis
3        100152195            Drug hypersensitivity
4        100152195                           Nausea
...            ...                              ...
1505162   99965023                         Dyspnoea
1505163   99965023            Hilar lymphadenopathy
1505164   99965023  Pulmonary arterial hypertension
1505165  999913119             Basal cell carcinoma
1505166  999913119          Squamous cell carcinoma

[1505167 rows x 2 columns]

In [12]:
outc

         primaryid outc_cod
0        100159156       HO
1        100159156       OT
2        100183554       OT
3       1002221558       HO
4       1002221558       OT
...            ...      ...
371693   997584330       OT
371694   997584330       HO
371695    99947973       OT
371696    99965023       HO
371697    99965023       OT

[371698 rows x 2 columns]

In [13]:
ther

,primaryid,dsg_drug_seq,start_dt,end_dt,start_dt_yrs,start_dt_mon,start_dt_date,end_dt_yrs,end_dt_mon,end_dt_date
0,100159156,1,20001211.0,NaN,2000.0,12.0,11.0,NaN,NaN,NaN
1,100159156,2,200110.0,2010.0,2001.0,10.0,NaN,2010.0,NaN,NaN
2,100159156,4,200803.0,2018.0,2008.0,3.0,NaN,2018.0,NaN,NaN
3,100159156,6,1994.0,NaN,1994.0,NaN,NaN,NaN,NaN,NaN
4,100159156,7,1994.0,NaN,1994.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
786467,999913119,7,20130326.0,NaN,2013.0,3.0,26.0,NaN,NaN,NaN
786468,999913119,8,20131030.0,NaN,2013.0,10.0,30.0,NaN,NaN,NaN
786469,999913119,9,20130121.0,NaN,2013.0,1.0,21.0,NaN,NaN,NaN
786470,999913119,11,20100604.0,20130326.0,2010.0,6.0,4.0,2013.0,3.0,26.0
786471,999913119,12,20090930.0,20121023.0,2009.0,9.0,30.0,2012.0,10.0,23.0

In [14]:
indi_sorted=indi.sort_values(by=['primaryid','indi_drug_seq'])

In [15]:
drug_sorted=drug.sort_values(by=['primaryid','drug_seq'])

In [16]:
drug_indi = drug_sorted.merge(indi_sorted,left_on=['primaryid','drug_seq'],right_on=['primaryid', 'indi_drug_seq'])

In [17]:
indi_sorted.shape,drug_sorted.shape

((1603039, 3), (2208416, 5))

In [18]:
drug_indi[~drug_indi.isnull().any(axis=1)]

,primaryid,drug_seq,role_cod,prod_ai,dechal,indi_drug_seq,indi_pt
0,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour
3,57250754,1,PS,CYCLOSPORINE,D,1,Graft versus host disease
4,57250754,2,SS,MYCOPHENOLATE MOFETIL,D,2,Graft versus host disease
5,57250754,5,SS,METHYLPREDNISOLONE,D,5,Graft versus host disease
6,57250754,9,C,FLUDARABINE PHOSPHATE,D,9,Product used for unknown indication
...,...,...,...,...,...,...,...
1603032,10506060101,20,C,TAMSULOSIN,U,20,Product used for unknown indication
1603033,10506060101,21,C,ACETAMINOPHEN,U,21,Product used for unknown indication
1603036,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication
1603037,13825291118,17,SS,MORPHINE,U,17,Product used for unknown indication
1603038,13825291118,18,C,PERINDOPRIL ERBUMINE,Y,18,Product used for unknown indication

In [19]:
drug_indi_ther = drug_indi.merge(ther,left_on=['primaryid','drug_seq'],right_on=['primaryid','dsg_drug_seq'])

In [20]:
drug_indi_ther_outc = drug_indi_ther.merge(outc,left_on=['primaryid'],right_on=['primaryid'])
# drug_indi_ther.merge(outc,left_on=['primaryid'],right_on=['primaryid'])

In [21]:
drug_indi_ther_outc_reac = drug_indi_ther_outc.merge(reac,left_on=['primaryid'],right_on=['primaryid'])

In [22]:
drug_indi_ther_outc_reac

,primaryid,drug_seq,role_cod,prod_ai,dechal,indi_drug_seq,indi_pt,dsg_drug_seq,start_dt,end_dt,start_dt_yrs,start_dt_mon,start_dt_date,end_dt_yrs,end_dt_mon,end_dt_date,outc_cod,pt
0,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Anaemia
1,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Haemoglobin decreased
2,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Hypoglycaemia
3,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Metastasis
4,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Pancytopenia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655586,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Tremor
2655587,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Urine odour abnormal
2655588,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Vision blurred
2655589,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Vomiting
2655590,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Weight decreased

In [23]:
freq = drug_indi_ther_outc_reac['prod_ai'].value_counts()

In [24]:
# creating the prod_ai frequency

freq=drug_indi_ther_outc_reac['prod_ai'].value_counts(0)
drug_indi_ther_outc_reac['freq_prod_ai'] = drug_indi_ther_outc_reac['prod_ai'].map(freq)

In [25]:
drug_indi_ther_outc_reac['outc_cod'].value_counts()

outc_cod
OT    1442295
HO     770516
DE     206385
LT     137886
DS      91678
CA       5839
RI        992
Name: count, dtype: int64

In [26]:
# ✅ Option 2: Ordinal severity score (recommended if you want ranking)
severity_map = {
    'OT': 1,
    'HO': 2,
    'RI': 3,
    'DS': 4,
    'LT': 5,
    'DE': 6,
    'CA': 6
}

drug_indi_ther_outc_reac['severity_score'] = drug_indi_ther_outc_reac['outc_cod'].map(severity_map)

In [27]:
drug_indi_ther_outc_reac

,primaryid,drug_seq,role_cod,prod_ai,dechal,indi_drug_seq,indi_pt,dsg_drug_seq,start_dt,end_dt,start_dt_yrs,start_dt_mon,start_dt_date,end_dt_yrs,end_dt_mon,end_dt_date,outc_cod,pt,freq_prod_ai,severity_score
0,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Anaemia,1720.0,6
1,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Haemoglobin decreased,1720.0,6
2,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Hypoglycaemia,1720.0,6
3,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Metastasis,1720.0,6
4,40291523,1,PS,IMATINIB MESYLATE,D,1,Gastrointestinal stromal tumour,1,20030911.0,20031003.0,2003.0,9.0,11.0,2003.0,10.0,3.0,DE,Pancytopenia,1720.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655586,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Tremor,5280.0,2
2655587,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Urine odour abnormal,5280.0,2
2655588,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Vision blurred,5280.0,2
2655589,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Vomiting,5280.0,2
2655590,13825291118,16,SS,METOPROLOL,Y,16,Product used for unknown indication,16,20160831.0,NaN,2016.0,8.0,31.0,NaN,NaN,NaN,HO,Weight decreased,5280.0,2

In [29]:
drug_indi_ther_outc_reac.shape

(2655591, 20)