In [4]:
import pandas as pd
demo25 = pd.read_csv(r"C:\Users\Dell\Desktop\TechIndians\faers_ascii_2021Q2\ASCII\DEMO21Q2.txt", sep="$", encoding="latin1",low_memory=False)
drug25 = pd.read_csv(r"C:\Users\Dell\Desktop\TechIndians\faers_ascii_2021Q2\ASCII\DRUG21Q2.txt", sep="$", encoding="latin1",low_memory=False)
reac25 = pd.read_csv(r"C:\Users\Dell\Desktop\TechIndians\faers_ascii_2021Q2\ASCII\REAC21Q2.txt", sep="$", encoding="latin1",low_memory=False)
outc25 = pd.read_csv(r"C:\Users\Dell\Desktop\TechIndians\faers_ascii_2021Q2\ASCII\OUTC21Q2.txt", sep="$", encoding="latin1",low_memory=False)

In [5]:
import os
import pandas as pd

root_folder = 'faers_ascii_2021Q2/ASCII'
dataframe = {}

for file in os.listdir(root_folder):
    if file.endswith('.txt'):
        file_path = os.path.join(root_folder, file)
        df_key = file.rsplit('.', 1)[0].lower()
        print("Loading:", file_path)
        dataframe[df_key] = pd.read_csv(
            file_path,
            sep='$',
            encoding='latin1',
            low_memory=False
        )

Loading: faers_ascii_2021Q2/ASCII\DEMO21Q2.txt
Loading: faers_ascii_2021Q2/ASCII\DRUG21Q2.txt
Loading: faers_ascii_2021Q2/ASCII\INDI21Q2.txt
Loading: faers_ascii_2021Q2/ASCII\OUTC21Q2.txt
Loading: faers_ascii_2021Q2/ASCII\REAC21Q2.txt
Loading: faers_ascii_2021Q2/ASCII\RPSR21Q2.txt
Loading: faers_ascii_2021Q2/ASCII\THER21Q2.txt

In [6]:
for key in dataframe.keys():
    print(key)

demo21q2
drug21q2
indi21q2
outc21q2
reac21q2
rpsr21q2
ther21q2

In [7]:
# DEMO.PRIMARYID = REAC.PRIMARYID
# DEMO.PRIMARYID = OUTC.PRIMARYID
# DEMO.PRIMARYID = DRUG.PRIMARYID
# DRUG.PRIMARYID = THER.PRIMARYID AND DRUG.DRUG_SEQ = THER.DSG_DRUG_SEQ

In [6]:
dataframe['demo21q2'].isnull().sum() / dataframe['demo21q2'].shape[0]

primaryid           0.000000
caseid              0.000000
caseversion         0.000000
i_f_code            0.000000
event_dt            0.585786
mfr_dt              0.034125
init_fda_dt         0.000000
fda_dt              0.000000
rept_cod            0.000000
auth_num            0.968471
mfr_num             0.033254
mfr_sndr            0.000006
lit_ref             0.951357
age                 0.498253
age_cod             0.498082
age_grp             0.795956
sex                 0.112940
e_sub               0.000000
wt                  0.842967
wt_cod              0.842967
rept_dt             0.000254
to_mfr              0.966742
occp_cod            0.018719
reporter_country    0.000002
occr_country        0.000898
dtype: float64

In [10]:
                                # occp_cod
    # CODE MEANING_TEXT 
    # MD Physician 
    # PH Pharmacist 
    # OT Other health-professional 
    # LW Lawyer 
    # CN Consumer 

# columns form demo files:
        # ['primaryid', 'caseid','event_dt','age','age_cod','occp_cod',
        # 'age_grp','sex','wt','wt_cod','reporter_country', 'occr_country']

In [7]:
demo = dataframe['demo21q2']

In [8]:
demo = demo[[
    'primaryid',
    'i_f_code',
    'event_dt',
    'age',
    'age_cod',
    'age_grp',
    'occp_cod',
    'sex'
]]

In [9]:
import numpy as np
demo.isnull().sum()/demo.shape[0]

primaryid    0.000000
i_f_code     0.000000
event_dt     0.585786
age          0.498253
age_cod      0.498082
age_grp      0.795956
occp_cod     0.018719
sex          0.112940
dtype: float64

# drug table

In [9]:
# Correct action summary

# ✅ Keep: prod_ai, dechal, rechal

# ❌ Drop: cum_dose_chr

# ✅ Add missing indicators for dechal and rechal

            # dechal = 0.384278 (~38.4% missing)
# → Moderately missing.
# Still useful, especially with a missingness flag. When present, it’s informative.

                # rechal = 0.866147 (~86.6% missing)
# → Very sparse.
# Rare but extremely strong signal when present. Keep it as:

    # binary feature (rechal_yes)
    # plus a rechal_missing flag


# drug=dataframe['drug21q3'][['primaryid', 'caseid', 'drug_seq', 'role_cod',
#                        'prod_ai','dechal', 'rechal']]

In [10]:
dataframe['drug21q2'].shape[0]

2291903

In [16]:
drug=dataframe['drug21q2'][['primaryid', 'drug_seq', 'role_cod','prod_ai','dechal']]

In [17]:
dataframe['drug21q2'].isnull().sum()/dataframe['drug21q2'].shape[0]

primaryid        0.000000
caseid           0.000000
drug_seq         0.000000
role_cod         0.000000
drugname         0.000062
prod_ai          0.016248
val_vbm          0.000000
route            0.316333
dose_vbm         0.387094
cum_dose_chr     0.980680
cum_dose_unit    0.981519
dechal           0.378136
rechal           0.856877
lot_num          0.697121
exp_dt           0.998552
nda_num          0.594663
dose_amt         0.618253
dose_unit        0.618270
dose_form        0.506651
dose_freq        0.748239
dtype: float64

# outcome table

In [18]:
outc=dataframe['outc21q2'][['primaryid','outc_cod']]

In [19]:
outc

         primaryid outc_cod
0        100042347       OT
1        100108272       CA
2        100108272       OT
3       1001163937       OT
4        100144835       OT
...            ...      ...
383923    99310713       OT
383924    99310733       DE
383925    99310733       OT
383926   998827266       OT
383927    99957693       HO

[383928 rows x 2 columns]

In [20]:
outc['outc_cod'].value_counts()

outc_cod
OT    244135
HO     83751
DE     35822
LT     10145
DS      8627
CA      1088
RI       360
Name: count, dtype: int64

In [21]:
outc.shape,outc.isnull().sum()

((383928, 2),
 primaryid    0
 outc_cod     0
 dtype: int64)

# reaction table

In [22]:
reac=dataframe['reac21q2'][['primaryid','pt']]

In [23]:
reac['pt'].value_counts()

pt
Drug ineffective          33575
Drug dependence           31645
Off label use             24533
Pain                      24349
Fatigue                   20373
                          ...
Immunoblastic lymphoma        1
Antidepressant therapy        1
Spinal rod removal            1
Hypocalciuria                 1
Leptotrichia infection        1
Name: count, Length: 12270, dtype: int64

In [24]:
reac.shape,reac.isnull().sum()

((1526544, 2),
 primaryid    0
 pt           0
 dtype: int64)

# therapy table

In [25]:
ther=dataframe['ther21q2'][['primaryid', 'dsg_drug_seq', 'start_dt', 'end_dt']]
# dataframe['ther21q2'][['primaryid', 'caseid', 'dsg_drug_seq', 'start_dt', 'end_dt']].isnull().sum()/dataframe['ther21q3'].shape[0]

In [26]:
ther[(ther['start_dt'].isna()) & ther['end_dt'].isna()]

        primaryid  dsg_drug_seq  start_dt  end_dt
312596  190822661             1       NaN     NaN
312969  190825291             1       NaN     NaN
312974  190825401             1       NaN     NaN
313268  190828041             1       NaN     NaN
313287  190828321             1       NaN     NaN
...           ...           ...       ...     ...
787506  194819331             1       NaN     NaN
787509  194819471             1       NaN     NaN
787519  194820041             1       NaN     NaN
787520  194820041             2       NaN     NaN
787546  194823351             1       NaN     NaN

[675 rows x 4 columns]

In [27]:
ther.shape,ther.isnull().sum()

((789968, 4),
 primaryid            0
 dsg_drug_seq         0
 start_dt         23190
 end_dt          358326
 dtype: int64)

# indication table

In [28]:
indi=dataframe['indi21q2'][['primaryid', 'indi_drug_seq', 'indi_pt']]

In [29]:
indi

         primaryid  indi_drug_seq                              indi_pt
0        100042347              1                          Haemostasis
1        100042347              2  Product used for unknown indication
2        100042347              3  Product used for unknown indication
3        100042347              4                    Analgesic therapy
4        100042347              5                Anticoagulant therapy
...            ...            ...                                  ...
1659373  998827266             68                               Asthma
1659374  998827266             69                               Asthma
1659375   99957693              1                      Prostate cancer
1659376   99957693              2  Product used for unknown indication
1659377   99957693              3  Product used for unknown indication

[1659378 rows x 3 columns]

In [30]:
indi.shape,indi.isnull().sum()

((1659378, 3),
 primaryid        0
 indi_drug_seq    0
 indi_pt          0
 dtype: int64)

# forming the joins

In [31]:
df = demo.copy()

In [32]:
df.columns

Index(['primaryid', 'i_f_code', 'event_dt', 'age', 'age_cod', 'age_grp',
       'occp_cod', 'sex'],
      dtype='object')

In [33]:
df

         primaryid i_f_code    event_dt   age age_cod age_grp occp_cod  sex
0        100042347        F  20100129.0  81.0      YR       E       MD  NaN
1        100108272        F         NaN   NaN     NaN       C       MD    M
2       1001163937        F      2015.0  49.0      YR     NaN       CN    F
3        100144835        F         NaN   8.0      WK     NaN       HP  NaN
4        100148375        F         NaN  37.0      YR     NaN       HP    M
...            ...      ...         ...   ...     ...     ...      ...  ...
479940    99245568        F         NaN  76.0      YR     NaN       CN    F
479941    99310713        F         NaN  15.0      YR     NaN       HP    M
479942    99310733        F         NaN  17.0      YR     NaN       HP    M
479943   998827266        F  20140211.0  56.0      YR     NaN       MD    F
479944    99957693        F         NaN  63.0      YR       A       HP    M

[479945 rows x 8 columns]

In [34]:
df = df.merge(drug,on='primaryid',how='left')

In [35]:
ther.columns

Index(['primaryid', 'dsg_drug_seq', 'start_dt', 'end_dt'], dtype='object')

In [36]:
df = df.merge(ther,left_on=['primaryid','drug_seq'],right_on=['primaryid','dsg_drug_seq'],how='left') # df and therapy

In [37]:
indi.columns

Index(['primaryid', 'indi_drug_seq', 'indi_pt'], dtype='object')

In [38]:
df = df.merge(indi,left_on=['primaryid','drug_seq'],right_on = ['primaryid', 'indi_drug_seq'],how='left') # df and indication

In [ ]:
df = df.merge(reac,on='primaryid',how='left')

In [41]:
outc_small = outc[['primaryid', 'outc_cod']].drop_duplicates()

In [43]:
severity_map = {
    'OT': 1, 'HO': 2, 'RI': 3,
    'DS': 4, 'LT': 5, 'DE': 6, 'CA': 6
}

outc['severity_score'] = outc['outc_cod'].map(severity_map)

outc_small = (
    outc.groupby('primaryid')['severity_score']
    .max()
    .reset_index()
)

In [11]:
demo = dataframe['demo21q2'][[
    'primaryid', 'event_dt', 'age', 'age_cod',
    'age_grp', 'sex', 'occp_cod'
]]

In [12]:
drug = dataframe['drug21q2'][[
    'primaryid', 'drugname', 'role_cod'
]]
drug = drug[drug['role_cod'] == 'PS']

In [13]:
indi = dataframe['indi21q2'][['primaryid', 'indi_pt']]

In [14]:
reac = dataframe['reac21q2'][['primaryid', 'pt']]

In [15]:
outc = dataframe['outc21q2'][['primaryid', 'outc_cod']]

In [16]:
reac_small = (
    reac.groupby('primaryid')['pt']
    .apply(lambda x: ', '.join(set(x)))
    .reset_index()
)

In [17]:
severity_map = {
    'OT': 1, 'HO': 2, 'RI': 3,
    'DS': 4, 'LT': 5, 'DE': 6, 'CA': 6
}

outc['severity_score'] = outc['outc_cod'].map(severity_map)

outc_small = (
    outc.groupby('primaryid')['severity_score']
    .max()
    .reset_index()
)

In [18]:
df = demo.merge(drug, on='primaryid', how='inner')
df = df.merge(outc_small, on='primaryid', how='left')
df = df.merge(indi.drop_duplicates(), on='primaryid', how='left')
df = df.merge(reac_small, on='primaryid', how='left')

In [19]:
demo.shape

(479945, 7)

In [ ]:
# event_dt         10967696
# age               6145447
# age_cod           6145148
# occp_cod           339760
# sex               2896728
# prod_ai            316844
# dechal            7328586
# dsg_drug_seq     15917253
# start_dt         16134848
# end_dt           19331352
# indi_drug_seq     8821576
# indi_pt           8821576
# outc_cod          1126826

### removing those rows which have 'outc_cod' as NaN value

In [24]:
df = df[df['severity_score'].notna()]

In [ ]:
# primaryid               0          0.00
# i_f_code                0          0.00
# event_dt         10480996         49.87
# age               5609082         26.69
# age_cod           5608785         26.69
# occp_cod           322591          1.54
# sex               2754880         13.11
# drug_seq                0          0.00
# role_cod                0          0.00
# prod_ai            294410          1.40
# dechal            6724681         32.00
# dsg_drug_seq     15170666         72.19
# start_dt         15377779         73.18
# end_dt           18294944         87.06
# indi_drug_seq     8406112         40.00
# indi_pt           8406112         40.00
# pt                      0          0.00
# outc_cod                0          0.00

In [25]:
df = df.merge(
    demo[['primaryid', 'age_cod']],
    on='primaryid',
    how='left'
)

In [26]:
(df[['age','age_cod']].isnull().sum()/21014929)*100

age        1.004671
age_cod    1.004257
dtype: float64

In [27]:
# correcting the age ----------> in yrs

factor = {'YR': 1,'MON': 1/12,'WK': 1/52,'DY': 1/365,'HR': 1/8760,'DEC': 10}

df['age_yrs'] = df['age']*df['age_cod'].map(factor)

In [28]:
df['age_yrs'].describe()

count    303028.000000
mean         56.770005
std          19.634654
min           0.000000
25%          46.000000
50%          60.000000
75%          71.000000
max         149.000000
Name: age_yrs, dtype: float64

In [29]:
df.columns

Index(['primaryid', 'event_dt', 'age', 'age_cod_x', 'age_grp', 'sex',
       'occp_cod', 'drugname', 'role_cod', 'severity_score', 'indi_pt', 'pt',
       'age_cod_y', 'age_cod', 'age_yrs'],
      dtype='object')

In [30]:
df[df['age_yrs']>119][['age','age_cod','age_grp']]

          age age_cod age_grp
137248  120.0      YR     NaN
400598  149.0      YR     NaN

In [31]:
df[df['age_yrs']>119][['age','age_cod','age_grp']].isnull().sum() # now removing these rows

age        0
age_cod    0
age_grp    2
dtype: int64

In [32]:
df = df[~(df['age_yrs']>119)]