In [1]:
import pandas as pd
demo25 = pd.read_csv(r"C:\Users\vinitgujjar\OneDrive\Downloads\faers_ascii_2021Q1 (1)\ASCII\DEMO21Q1.txt", sep="$", encoding="latin1",low_memory=False)
drug25 = pd.read_csv(r"C:\Users\vinitgujjar\OneDrive\Downloads\faers_ascii_2021Q1 (1)\ASCII\DRUG21Q1.txt", sep="$", encoding="latin1",low_memory=False)
reac25 = pd.read_csv(r"C:\Users\vinitgujjar\OneDrive\Downloads\faers_ascii_2021Q1 (1)\ASCII\REAC21Q1.txt", sep="$", encoding="latin1",low_memory=False)
outc25 = pd.read_csv(r"C:\Users\vinitgujjar\OneDrive\Downloads\faers_ascii_2021Q1 (1)\ASCII\OUTC21Q1.txt", sep="$", encoding="latin1",low_memory=False)

In [23]:
import os
import pandas as pd
root_folder = 'faers_ascii21'
dataframe = {}
for folder in os.listdir(root_folder):
    path = os.path.join(root_folder,folder,'ASCII')
    for file in os.listdir(path):
        if file.endswith('.txt'):
            file_path = os.path.join(path,file)
            print(file_path,file.rsplit('.',1)[0])
            df_key = file.rsplit('.',1)[0].lower()
            dataframe[df_key] = pd.read_csv(file_path,sep='$',encoding = 'latin1',low_memory=False)

faers_ascii21\faers_ascii_2021Q1\ASCII\DEMO21Q1.txt DEMO21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\DRUG21Q1.txt DRUG21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\INDI21Q1.txt INDI21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\OUTC21Q1.txt OUTC21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\REAC21Q1.txt REAC21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\RPSR21Q1.txt RPSR21Q1
faers_ascii21\faers_ascii_2021Q1\ASCII\THER21Q1.txt THER21Q1

In [24]:
for key in dataframe.keys():
    print(key)

demo21q1
drug21q1
indi21q1
outc21q1
reac21q1
rpsr21q1
ther21q1

In [4]:
# DEMO.PRIMARYID = REAC.PRIMARYID
# DEMO.PRIMARYID = OUTC.PRIMARYID
# DEMO.PRIMARYID = DRUG.PRIMARYID
# DRUG.PRIMARYID = THER.PRIMARYID AND DRUG.DRUG_SEQ = THER.DSG_DRUG_SEQ

In [25]:
dataframe['demo21q1'].isnull().sum() / dataframe['demo21q1'].shape[0]

primaryid           0.000000
caseid              0.000000
caseversion         0.000000
i_f_code            0.000000
event_dt            0.567405
mfr_dt              0.036389
init_fda_dt         0.000000
fda_dt              0.000000
rept_cod            0.000000
auth_num            0.964303
mfr_num             0.035669
mfr_sndr            0.000013
lit_ref             0.936096
age                 0.478573
age_cod             0.478235
age_grp             0.806944
sex                 0.114381
e_sub               0.000000
wt                  0.836346
wt_cod              0.836346
rept_dt             0.000222
to_mfr              0.964327
occp_cod            0.017059
reporter_country    0.000004
occr_country        0.001035
dtype: float64

In [6]:
                                # occp_cod
    # CODE MEANING_TEXT 
    # MD Physician 
    # PH Pharmacist 
    # OT Other health-professional 
    # LW Lawyer 
    # CN Consumer 

# columns form demo files:
        # ['primaryid', 'caseid','event_dt','age','age_cod','occp_cod',
        # 'age_grp','sex','wt','wt_cod','reporter_country', 'occr_country']

In [26]:
demo=dataframe['demo21q1'][['primaryid','i_f_code','event_dt','age','age_cod','age_grp','occp_cod','sex']]

In [27]:
import numpy as np
demo.isnull().sum()/demo.shape[0]

primaryid    0.000000
i_f_code     0.000000
event_dt     0.567405
age          0.478573
age_cod      0.478235
age_grp      0.806944
occp_cod     0.017059
sex          0.114381
dtype: float64

# drug table

In [9]:
# Correct action summary

# ✅ Keep: prod_ai, dechal, rechal

# ❌ Drop: cum_dose_chr

# ✅ Add missing indicators for dechal and rechal

            # dechal = 0.384278 (~38.4% missing)
# → Moderately missing.
# Still useful, especially with a missingness flag. When present, it’s informative.

                # rechal = 0.866147 (~86.6% missing)
# → Very sparse.
# Rare but extremely strong signal when present. Keep it as:

    # binary feature (rechal_yes)
    # plus a rechal_missing flag


# drug=dataframe['drug21q3'][['primaryid', 'caseid', 'drug_seq', 'role_cod',
#                        'prod_ai','dechal', 'rechal']]

In [28]:
dataframe['drug21q1'].shape[0]

2208416

In [29]:
drug=dataframe['drug21q1'][['primaryid', 'drug_seq', 'role_cod','prod_ai','dechal']]

In [83]:
#drug[(drug['dose_amt'].isnull()) & (drug['dose_unit'].isnull())]
# 1388837

In [30]:
dataframe['drug21q1'].isnull().sum()/dataframe['drug21q1'].shape[0]

primaryid        0.000000
caseid           0.000000
drug_seq         0.000000
role_cod         0.000000
drugname         0.000068
prod_ai          0.019122
val_vbm          0.000000
route            0.323222
dose_vbm         0.414807
cum_dose_chr     0.981744
cum_dose_unit    0.981906
dechal           0.405790
rechal           0.892036
lot_num          0.781582
exp_dt           0.998395
nda_num          0.605249
dose_amt         0.597148
dose_unit        0.597306
dose_form        0.510618
dose_freq        0.737117
dtype: float64

# outcome table

In [31]:
outc=dataframe['outc21q1'][['primaryid','outc_cod']]

In [32]:
outc

         primaryid outc_cod
0        100159156       HO
1        100159156       OT
2        100183554       OT
3       1002221558       HO
4       1002221558       OT
...            ...      ...
371693   997584330       OT
371694   997584330       HO
371695    99947973       OT
371696    99965023       HO
371697    99965023       OT

[371698 rows x 2 columns]

In [33]:
outc['outc_cod'].value_counts()

outc_cod
OT    219784
HO     87414
DE     44185
LT     10793
DS      7994
CA      1228
RI       300
Name: count, dtype: int64

In [34]:
outc.shape,outc.isnull().sum()

((371698, 2),
 primaryid    0
 outc_cod     0
 dtype: int64)

# reaction table

In [35]:
reac=dataframe['reac21q1'][['primaryid','pt']]

In [36]:
reac['pt'].value_counts()

pt
Drug ineffective                                            36503
Off label use                                               25088
Death                                                       20868
Fatigue                                                     18777
Pain                                                        16148
                                                            ...
Serum procollagen type I N-terminal propeptide decreased        1
Nasal neoplasm benign                                           1
Peripheral artery angioplasty                                   1
Ovarian adhesion                                                1
Mevalonate kinase deficiency                                    1
Name: count, Length: 12081, dtype: int64

In [37]:
reac.shape,reac.isnull().sum()

((1505167, 2),
 primaryid    0
 pt           0
 dtype: int64)

# therapy table

In [38]:
ther=dataframe['ther21q1'][['primaryid', 'dsg_drug_seq', 'start_dt', 'end_dt']]
# dataframe['ther21q3'][['primaryid', 'caseid', 'dsg_drug_seq', 'start_dt', 'end_dt']].isnull().sum()/dataframe['ther21q3'].shape[0]

In [39]:
ther[(ther['start_dt'].isna()) & ther['end_dt'].isna()]

        primaryid  dsg_drug_seq  start_dt  end_dt
288361  186939181             1       NaN     NaN
288687  186942381             1       NaN     NaN
289311  186949141             1       NaN     NaN
289338  186949411             1       NaN     NaN
289476  186950871             1       NaN     NaN
...           ...           ...       ...     ...
780086  190778481             1       NaN     NaN
780087  190778481             2       NaN     NaN
783861  190818661             1       NaN     NaN
783863  190818751             1       NaN     NaN
783879  190820201             1       NaN     NaN

[770 rows x 4 columns]

In [40]:
ther.shape,ther.isnull().sum()

((786472, 4),
 primaryid            0
 dsg_drug_seq         0
 start_dt         24556
 end_dt          347425
 dtype: int64)

# indication table

In [41]:
indi=dataframe['indi21q1'][['primaryid', 'indi_drug_seq', 'indi_pt']]

In [42]:
indi

         primaryid  indi_drug_seq                indi_pt
0        100066672              1   Rheumatoid arthritis
1        100152844              1                   Pain
2        100152844              2  Phantom limb syndrome
3        100159156              1           Osteoporosis
4        100159156              4           Osteoporosis
...            ...            ...                    ...
1603034   99965023              1    Lung adenocarcinoma
1603035   99965023              2    Lung adenocarcinoma
1603036   99965023              3    Lung adenocarcinoma
1603037   99965023              4    Lung adenocarcinoma
1603038  999913119              1              Psoriasis

[1603039 rows x 3 columns]

In [43]:
indi.shape,indi.isnull().sum()

((1603039, 3),
 primaryid        0
 indi_drug_seq    0
 indi_pt          0
 dtype: int64)

# forming the joins

In [44]:
df = demo.copy()

In [45]:
df.columns

Index(['primaryid', 'i_f_code', 'event_dt', 'age', 'age_cod', 'age_grp',
       'occp_cod', 'sex'],
      dtype='object')

In [123]:
df

         primaryid i_f_code    event_dt   age age_cod age_grp occp_cod sex
0        100047402        F  20140210.0  36.0      YR       A       HP   M
1       1001163939        F      2015.0  49.0      YR     NaN       CN   F
2        100152845        F         NaN  53.0      YR     NaN       CN   M
3       1002130534        F  20210415.0  43.0      YR     NaN       MD   M
4       1002788611        F  20130810.0  60.0      YR     NaN       MD   F
...            ...      ...         ...   ...     ...     ...      ...  ..
504155    99432154        F         NaN  82.0      YR     NaN       HP   M
504156   994329778        F  20130506.0  79.0      YR     NaN       CN   M
504157    99539633        F  20130204.0  59.0      YR       A       MD   M
504158   997584332        F      2013.0  83.0      YR     NaN       MD   F
504159    99891527        F  20140305.0  83.0      YR     NaN       MD   F

[504160 rows x 8 columns]

In [46]:
df = df.merge(drug,on='primaryid',how='left') # demo and drug merged: now df

In [47]:
ther.columns

Index(['primaryid', 'dsg_drug_seq', 'start_dt', 'end_dt'], dtype='object')

In [48]:
df = df.merge(ther,left_on=['primaryid','drug_seq'],right_on=['primaryid','dsg_drug_seq'],how='left') # df and therapy

In [49]:
indi.columns

Index(['primaryid', 'indi_drug_seq', 'indi_pt'], dtype='object')

In [50]:
df = df.merge(indi,left_on=['primaryid','drug_seq'],right_on = ['primaryid', 'indi_drug_seq'],how='left') # df and indication

In [51]:
df = df.merge(reac,on='primaryid',how='left') # df and reaction

In [52]:
df = df.merge(outc, on="primaryid", how="left") # df and outcome

In [65]:
demo.shape

(463741, 8)

In [ ]:
# event_dt         10967696
# age               6145447
# age_cod           6145148
# occp_cod           339760
# sex               2896728
# prod_ai            316844
# dechal            7328586
# dsg_drug_seq     15917253
# start_dt         16134848
# end_dt           19331352
# indi_drug_seq     8821576
# indi_pt           8821576
# outc_cod          1126826

### removing those rows which have 'outc_cod' as NaN value

In [54]:
df = df[df['outc_cod'].notna()]

In [ ]:
# primaryid               0          0.00
# i_f_code                0          0.00
# event_dt         10480996         49.87
# age               5609082         26.69
# age_cod           5608785         26.69
# occp_cod           322591          1.54
# sex               2754880         13.11
# drug_seq                0          0.00
# role_cod                0          0.00
# prod_ai            294410          1.40
# dechal            6724681         32.00
# dsg_drug_seq     15170666         72.19
# start_dt         15377779         73.18
# end_dt           18294944         87.06
# indi_drug_seq     8406112         40.00
# indi_pt           8406112         40.00
# pt                      0          0.00
# outc_cod                0          0.00

In [55]:
df = df.merge(
    demo[['primaryid', 'age_cod']],
    on='primaryid',
    how='left'
)

In [61]:
df = df.drop(columns=['age_cod_y'])

In [62]:
df = df.rename(columns={'age_cod_x': 'age_cod'})

In [64]:

(df[['age','age_cod']].isnull().sum()/21014929)*100

age        24.958923
age_cod    24.957558
dtype: float64

In [66]:
# correcting the age ----------> in yrs

factor = {'YR': 1,'MON': 1/12,'WK': 1/52,'DY': 1/365,'HR': 1/8760,'DEC': 10}

df['age_yrs'] = df['age']*df['age_cod'].map(factor)

In [67]:
df['age_yrs'].describe()

count    1.117275e+07
mean     5.428682e+01
std      1.908783e+01
min      0.000000e+00
25%      4.300000e+01
50%      5.700000e+01
75%      6.800000e+01
max      9.630000e+02
Name: age_yrs, dtype: float64

In [68]:
df.columns

Index(['primaryid', 'i_f_code', 'event_dt', 'age', 'age_cod', 'age_grp',
       'occp_cod', 'sex', 'drug_seq', 'role_cod', 'prod_ai', 'dechal',
       'dsg_drug_seq', 'start_dt', 'end_dt', 'indi_drug_seq', 'indi_pt', 'pt',
       'outc_cod', 'age_yrs'],
      dtype='object')

In [69]:
df[df['age_yrs']>119][['age','age_cod','age_grp']]

            age age_cod age_grp
9338550   963.0      YR     NaN
9338551   963.0      YR     NaN
9338552   963.0      YR     NaN
9338553   963.0      YR     NaN
9338554   963.0      YR     NaN
...         ...     ...     ...
13409909  134.0      YR     NaN
13409910  134.0      YR     NaN
13409911  134.0      YR     NaN
13409912  134.0      YR     NaN
14620697  120.0      YR     NaN

[125 rows x 3 columns]

In [70]:
df[df['age_yrs']>119][['age','age_cod','age_grp']].isnull().sum() # now removing these rows

age          0
age_cod      0
age_grp    125
dtype: int64

In [71]:
df = df[~(df['age_yrs']>119)]

In [72]:
df[(df['age_yrs']<1)][['prod_ai']].value_counts()

prod_ai
PREDNISOLONE                     3095
ONASEMNOGENE ABEPARVOVEC-XIOI    1251
ACETAMINOPHEN                    1101
ECULIZUMAB                       1035
VALPROATE SODIUM                 1030
                                 ...
HOMEOPATHICS                        1
LEVOCARNITINE HYDROCHLORIDE         1
ILEPCIMIDE                          1
IDARUBICIN HYDROCHLORIDE            1
ITRACONAZOLE                        1
Name: count, Length: 791, dtype: int64

In [73]:
df

,primaryid,i_f_code,event_dt,age,age_cod,age_grp,occp_cod,sex,drug_seq,role_cod,prod_ai,dechal,dsg_drug_seq,start_dt,end_dt,indi_drug_seq,indi_pt,pt,outc_cod,age_yrs
0,100159156,F,20070710.0,NaN,NaN,NaN,MD,F,1,PS,ALENDRONATE SODIUM,U,1.0,20001211.0,NaN,1.0,Osteoporosis,Arrhythmia,HO,NaN
1,100159156,F,20070710.0,NaN,NaN,NaN,MD,F,1,PS,ALENDRONATE SODIUM,U,1.0,20001211.0,NaN,1.0,Osteoporosis,Arrhythmia,OT,NaN
2,100159156,F,20070710.0,NaN,NaN,NaN,MD,F,1,PS,ALENDRONATE SODIUM,U,1.0,20001211.0,NaN,1.0,Osteoporosis,Arthritis,HO,NaN
3,100159156,F,20070710.0,NaN,NaN,NaN,MD,F,1,PS,ALENDRONATE SODIUM,U,1.0,20001211.0,NaN,1.0,Osteoporosis,Arthritis,OT,NaN
4,100159156,F,20070710.0,NaN,NaN,NaN,MD,F,1,PS,ALENDRONATE SODIUM,U,1.0,20001211.0,NaN,1.0,Osteoporosis,Back pain,HO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16417845,99965023,F,201201.0,52.0,YR,NaN,MD,F,4,SS,CISPLATIN,N,4.0,2011.0,201201.0,4.0,Lung adenocarcinoma,Dyspnoea,OT,52.0
16417846,99965023,F,201201.0,52.0,YR,NaN,MD,F,4,SS,CISPLATIN,N,4.0,2011.0,201201.0,4.0,Lung adenocarcinoma,Hilar lymphadenopathy,HO,52.0
16417847,99965023,F,201201.0,52.0,YR,NaN,MD,F,4,SS,CISPLATIN,N,4.0,2011.0,201201.0,4.0,Lung adenocarcinoma,Hilar lymphadenopathy,OT,52.0
16417848,99965023,F,201201.0,52.0,YR,NaN,MD,F,4,SS,CISPLATIN,N,4.0,2011.0,201201.0,4.0,Lung adenocarcinoma,Pulmonary arterial hypertension,HO,52.0
16417849,99965023,F,201201.0,52.0,YR,NaN,MD,F,4,SS,CISPLATIN,N,4.0,2011.0,201201.0,4.0,Lung adenocarcinoma,Pulmonary arterial hypertension,OT,52.0

In [74]:
import pandas as pd 
import numpy as np 

def split_date(x):
    if pd.isna(x):
        return pd.Series([np.nan, np.nan, np.nan])
    
    x = str(x).split('.')[0]
    if len(x) == 8:
        return pd.Series([int(x[:4]),int(x[4:6]),int(x[6:])])
    elif len(x) == 6:
        return pd.Series([int(x[:4]),int(x[4:6]),np.nan])
    elif len(x) == 4:
        return pd.Series([int(x[:4]), np.nan, np.nan])
    else:
        return pd.Series([np.nan, np.nan, np.nan])

In [75]:
s=df['event_dt'].astype(str).str.split('.', expand=True)[0]

In [76]:
df['event_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')

In [78]:
df.to_csv('2021q1.csv',index=False)

In [79]:
s=demo['event_dt'].astype(str).str.split('.', expand=True)[0]
demo['event_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')
demo['event_dt_mon'] = pd.to_numeric(s.str[4:6].where(s.str.len()>=6),errors='coerce')
demo['event_dt_date'] = pd.to_numeric(s.str[6:8].where(s.str.len()==8),errors='coerce')

C:\Users\vinitgujjar\AppData\Local\Temp\ipykernel_33992\124669247.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo['event_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')
C:\Users\vinitgujjar\AppData\Local\Temp\ipykernel_33992\124669247.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo['event_dt_mon'] = pd.to_numeric(s.str[4:6].where(s.str.len()>=6),errors='coerce')
C:\Users\vinitgujjar\AppData\Local\Temp\ipykernel_33992\124669247.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo['event_dt_date'] = pd.to_numeric(s.str[6:8].where(s.str.len()==8),errors='coerce')

In [80]:
demo

,primaryid,i_f_code,event_dt,age,age_cod,age_grp,occp_cod,sex,event_dt_yrs,event_dt_mon,event_dt_date
0,100066672,F,NaN,58.0,YR,NaN,CN,F,NaN,NaN,NaN
1,100152195,F,NaN,53.0,YR,NaN,MD,F,NaN,NaN,NaN
2,100152844,F,NaN,53.0,YR,NaN,CN,M,NaN,NaN,NaN
3,100159156,F,20070710.0,NaN,NaN,NaN,MD,F,2007.0,7.0,10.0
4,100183554,F,NaN,50.0,YR,NaN,CN,F,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
463736,997584330,F,2013.0,83.0,YR,NaN,MD,F,2013.0,NaN,NaN
463737,99947973,F,NaN,18.0,YR,NaN,HP,M,NaN,NaN,NaN
463738,99952003,F,2011.0,62.0,YR,NaN,CN,M,2011.0,NaN,NaN
463739,99965023,F,201201.0,52.0,YR,NaN,MD,F,2012.0,1.0,NaN
463740,999913119,F,20120823.0,53.0,YR,A,HP,M,2012.0,8.0,23.0

In [81]:
s=ther['start_dt'].astype(str).str.split('.', expand=True)[0]
ther['start_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')
ther['start_dt_mon'] = pd.to_numeric(s.str[4:6].where(s.str.len()>=6),errors='coerce')
ther['start_dt_date'] = pd.to_numeric(s.str[6:8].where(s.str.len()==8),errors='coerce')

C:\Users\vinitgujjar\AppData\Local\Temp\ipykernel_33992\2563281448.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ther['start_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')
C:\Users\vinitgujjar\AppData\Local\Temp\ipykernel_33992\2563281448.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ther['start_dt_mon'] = pd.to_numeric(s.str[4:6].where(s.str.len()>=6),errors='coerce')

In [82]:
s=ther['end_dt'].astype(str).str.split('.', expand=True)[0]
ther['end_dt_yrs'] = pd.to_numeric(s.str[:4],errors='coerce')
ther['end_dt_mon'] = pd.to_numeric(s.str[4:6].where(s.str.len()>=6),errors='coerce')
ther['end_dt_date'] = pd.to_numeric(s.str[6:8].where(s.str.len()==8),errors='coerce')

In [85]:
demo.to_csv('demo_21q1',index=False)
drug.to_csv('drug_21q1',index=False)
outc.to_csv('outc_21q1',index=False)
reac.to_csv('reac_21q1',index=False)
ther.to_csv('ther_21q1',index=False)
indi.to_csv('indi_21q1',index=False)

In [86]:
demo.to_csv('demo_21q1',index=False)
ther.to_csv('ther_21q1',index=False)